body {
    display: grid;
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--color-text);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h2 {
    font-weight: 400;
    font-size: 32px;
}